
.auth-container{
    border: 3px solid black;
    border-radius: 25px;
    height: 355px;
    width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.entry{
height: 93px;

}

input {
width: 380px;
height: 56px;
border: 2px solid black;
border-radius: 10px;
}

p {
font-family: Arial, Helvetica, sans-serif;
width: 380px;
font-size: 24px;
margin: 5px;

}

button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    width: 204px;
    height: 56px;
    border: 2px solid black;
    border-radius: 10px;
}

.top{
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    text-align: right;
    font-size: 24;
}

a {
    margin: 5px;
    color: black;
}


.modal {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    border: 3px solid black;
    border-radius: 25px;
    background-color: white;
    width: 700px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.modal div {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 650px;
    height: 75px;
}

.arrow {
    width: 30px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    font-size: 25px;
}

.modal a {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    font-size: 25px;
}

.modal_title{
    text-align: center;
    margin-top: 100px;
    height: 95px;
    font-size: 35px;
    /* margin-bottom: 50px; */
}


